<h1>Autos disponibles para comprar</h1>
<form>
<label> Marca </label>
</br>
</br>
<label> Modelo </label>
</br>
</br>
<label> Precio </label>
</br>
</br>
</form>
<%= link_to "New Car", new_car_path %>