 <h1>Subir un nuevo auto para su venta</h1>
 <form action='/create' method='post'>
<label for='brand'>Marca:</label>
<input type='text' name='brand' id='brand'><br>
<label for='model'>Modelo:</label>
<input type='text' name='model' id='model'><br>
<label for='price'>Precio:</label>
<input type='number' name='price' id='price'><br>
<input type='submit' value='Enviar'>
</form>