<h1>Detalles de auto ingresado</h1>
<strong>Marca: <%= @car.brand%></strong>
</br>
<strong>Modelo: <%= @car.model%></strong>
</br>
<strong>Precio: <%= @car.price%></strong>
</br>

<%= link_to 'Back', cars_path %>